---
import { Moon, Sun } from 'lucide-astro';
import { Button } from '@base-ui/react';
import { getPreferedTheme } from '#/lib/utils';
---

<Button
  id="theme-toggle"
  className="flex items-center justify-center w-9 h-9 rounded-full border-0 hover:bg-primary hover:text-white transition-colors"
  aria-label="Toggle theme"
>
  <Sun class="w-4 h-4 group-[.light]/html:hidden"/>
  <Moon class="w-4 h-4 group-[.dark]/html:hidden"/>
</Button>

<script define:vars={{ getPreferedTheme }}>
  const themeToggle = document.getElementById('theme-toggle');
  const html = document.documentElement;

  const setTheme = (theme) => {
    html.classList.remove('light', 'dark');
    html.classList.add(theme);
    localStorage.setItem('theme', theme);
  };

  setTheme(getPreferedTheme());

  themeToggle?.addEventListener('click', () => {
    const current = html.classList.contains('dark') ? 'dark' : 'light';
    setTheme(current === 'dark' ? 'light' : 'dark');
  });
</script>
