---
import { Moon, Sun } from 'lucide-astro';
import { Button } from '@base-ui/react';
---

<Button
  id="theme-toggle"
  className="flex items-center justify-center w-9 h-9 rounded-full border-0 hover:bg-primary hover:text-white transition-colors"
  aria-label="Toggle theme"
>
  <Sun class="w-4 h-4 group-[.light]/html:hidden"/>
  <Moon class="w-4 h-4 group-[.dark]/html:hidden"/>
</Button>

<script>
  const html = document.documentElement;
  const themeToggle = document.getElementById('theme-toggle');

  const setTheme = (theme: string) => {
    html.classList.remove('light', 'dark');
    html.classList.add(theme);
    localStorage.setItem('theme', theme);
  };

  setTheme(getPreferedTheme());

  themeToggle?.addEventListener('click', () => {
    const current = html.classList.contains('dark') ? 'dark' : 'light';
    setTheme(current === 'dark' ? 'light' : 'dark');
  });

  function getPreferedTheme() {
    const saved = localStorage.getItem('theme');
    if (saved === 'light' || saved === 'dark') return saved;
    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light';
  }
</script>
